/* Header.module.css */

.header {
  background-color: #f8f8f8;
  border-bottom: 1px solid #ddd;
  padding: 10px 20px;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  --header-height: 60px;
  height: var(--header-height); /* Sử dụng biến chiều cao */
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navHome {
  flex: 1;
}

.navLink {
  font-size: 1.2rem; /* Giảm kích thước để phù hợp hơn */
  color: #333;
  text-decoration: none;
}

.navLink:hover {
  color: #007bff;
}

.searchContainer {
  flex: 2;
  display: flex;
  justify-content: center;
}

.searchInput {
  width: 100%;
  max-width: 400px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1.1rem;
  font-weight: 500;
  color: #222;
  background-color: #fff;
  outline: none; /* Loại bỏ viền focus mặc định */
  transition: border-color 0.3s ease; /* Thêm hiệu ứng mượt mà */
}

.searchInput:focus {
  border-color: #007bff;
}

.navLinks {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.navButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 8px;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  color: #666; /* Màu chữ xám */
  text-decoration: none;
  width: 100px; /* Tăng chiều rộng để tránh đè lên nhau */
  height: 40px;
  font-size: 12px;
  white-space: nowrap;
}

.navButton + .navButton {
  margin-left: 15px; /* Tăng khoảng cách giữa các nút */
  position: relative;
}

.navButton + .navButton::before {
  content: '';
  position: absolute;
  left: -15px; /* Điều chỉnh vị trí dấu ngăn cách để đồng đều */
  top: 50%;
  transform: translateY(-50%);
  width: 4px; /* Giữ độ rộng đồng nhất */
  height: 25px;
  background-color: #999; /* Dấu ngăn cách màu đen */
  border-radius:20%;
}

.navButton i {
  font-size: 18px;
}

.buttonText {
  font-size: 1.1rem; /* Tăng kích thước chữ */
  font-weight: 600;
  line-height: 1;
  color: #666; /* Màu chữ xám */
  white-space: nowrap;
}

.buttonText:hover {
  color: #999; /* Màu nhạt hơn khi hover text */
}